$font-principal: 'Helvetica', Arial, Sans-serif;
$font-secundaria: 'Times New Roman', Times, serif;

$pequena: 14px;
$media: 18px;
$grande: 24px;
$extra-grande: 32px;

$cor-principal: #766862;
$cor-secundaria: #b19676;
$cor-terciaria: #e3d49c;
$cor-quaternaria: #f9f0b7;
$verde: #92bf9f;